# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Python cache files #
*.pyc
*.iml
forBeginners/.idea/
forBeginners/.idea/misc.xml
forBeginners/.idea/forBeginners.iml